.noticia {
  width:575px;
}

#bloque_noticias {
  background-color:#E0E6F8;
  margin-right:5px;
  border-radius: 10px;
  padding-bottom: 10px;
  border: 1px dotted #3388cc;
  box-shadow: 4px 4px 1px #cacaca;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#bloque_noticias ul{
  padding-left: 10px;
  padding-right: 5px;
  margin: 5px auto;
  color:#000000;
  font-size: 13px;
  list-style-type: none;
}

#bloque_noticias li{
  padding-top: 10px;
  border-top: 1px dotted #003366;
}

#bloque_noticias a{
  font-size: 12px;
}