.row-fluid{:style => "padding-bottom:10px"}
  .span{:style => "text-align:left;width:530px"}
    %h3
      Agregar Entrega
  .span{:style => "float:right;text-align: right;width:60px"}
    =link_to "Volver", {:asignatura_nombre => @sitio_web.nombre_url, :semestre => @sitio_web.periodo, controller: "entrega", action: "index"}, {:class => "btn"}

=link_to "Volver", {:asignatura_nombre => @sitio_web.nombre_url, :semestre => @sitio_web.periodo, controller: "entrega", action: "index"}, {:style => "display:none", :id => "url"}

%p
  Los campos con (*) son obligatorios.

=form_tag({:asignatura_nombre => @sitio_web.nombre_url, :semestre => @sitio_web.periodo, :controller => "entrega", :action => "procesar_agregar_entrega"}, {:class => "form-horizontal", :id => "formulario_agregar_entrega"})do  

  .control-group
    %label{:class => "control-label"}
      %strong Nombre (*):
    .controls
      = text_area :entrega, :nombre, {:placeholder => "Nombre de la entrega", :class => "input-large"}
      
  .control-group
    %label{:class => "control-label"}
      %strong Fecha de entrega (*):
    .controls
      = text_field :entrega, :fecha_entrega, {:placeholder => Time.now.strftime("%d/%m/%Y"), :class => "entrega_fecha input-large"}
      
  .control-group
    .controls
      = submit_tag "Guardar", :class=>"btn btn-primary", :id => "agregar_entrega_submit"
      %span{:id => 'ajax-loader', :style => "display:none"}
        =image_tag "ajax-loader.gif"
