.row-fluid{:style => "padding-bottom:10px"}
  .span{:style => "text-align:left;width:530px"}
    %p{:style => "text-align:justify;"}
      Este Portal de sitios web de asignaturas fue desarrollado por Oswaldo Díaz y Manuela Villavicencio, como parte de su Trabajo Especial de Grado, para optar por el título de Licenciado en Computación en la Facultad de Ciencias de la Universidad Central de Venezuela, bajo la tutoría de Alecia Eleonora Acosta y el apoyo técnico de Sergio Rivas.
  .span{:style => "float:right;text-align: right;width:60px"}
    =link_to "Volver", {:action => "index", :controller => "inicio"}, {:class => "btn"}

